* {
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

/*Quitar margenes predeterminados*/
p,
h1,
h2,
h3,
h4,
figure,
body {
    margin: 0px;
}
p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/*Tipo de fuente estándar*/
.estandar {
    font-family: 'Nanum Gothic', sans-serif;
}

/*Contenedor*/
.container {
    background-image: url("../img/Grey-Wood-Background.jpg");
    background-repeat: repeat;
    background-color: grey;
    border-top: 10px solid rgb(168, 46, 1);
    height: 910px;
    width: 100%;
}

/*Header*/
header {
    color: rgb(150, 150, 150);
    width: 90%;
    height: 20%;
    margin: 2% auto;
    margin-top: unset;
    padding-top: 50px;
}

/*-Nombre dentro de header*/
#nombre,
#redes_sociales {
    width: 40%;
    height: 100%;
    position: relative;
}

#nombre {
    float: left;
    margin-right: 20%;
}

#nombre div:nth-child(1) {
    color: white;
    font-family: 'Yellowtail', cursive;
    font-size: 4rem;
    position: absolute;
    left: 5%;
    top: 5%;
    transform: rotate(-10deg);
}

#nombre div:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
}

/*-Redes Sociales dentro de header*/
#redes_sociales {
    float: right;
}

#redes_sociales div {
    position: absolute;
    top: 10%;
    right: 35%;
}

#redes_sociales figure {
    float: right;
    position: relative;
    top: 5%;
    right: 10%;
    margin-right: 2%;
}

#redes_sociales figure a img {
    width: 30px;
}

/*Main de la pagina*/
.main {
    color: grey;
    width: 100%;
    height: 50%;

}

/*-Texto dentro del main*/
.texto {
    float: left;
    padding-top: 70px;
    text-align: justify;
    width: 50%;
    height: 70%;
}

.texto p {
    font-size: 42px;
    padding-left: 190px;
}

.texto p:last-child {
    font-size: 30px;
}

#photography_text {
    color: orangered;
    font-size: 4rem;
}

/*-Imagen de muestra y camara dentro del main*/
.imagen_principal {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 70%;
}

.imagen_principal img:nth-child(1) {
    border: 5px solid white;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    width: 63%;
}

.imagen_principal img:nth-child(2) {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
}

/*-Fotos recientes*/
.fotos_recientes{
    display: inline-block;
    margin-top: 4%;
    width: 100%;
    height: 30%;
}
/*--Palabras y boton al portfolio*/
.boton_recientes{
    position: relative;
    float: left;
    height: 100%;
    width: 25%;
}
#recent{
    font-size: 2rem;
    position: absolute;
    top: 10%;
    left: 60%;
    width: 15%;
}
#photos{
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 60%;
    width: 15%;
}
.fotos_recientes a{
    background-color: orangered;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 60%;
    width: 33%;
    height: 50px;
}
/*Hover del raton sobre el boton*/
.fotos_recientes a:hover{
    background-color: white;
    color: orangered;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 60%;
    width: 33%;
    height: 50px;
}
#portfolio{
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 20px;
}
/*--Fotos de muestra*/
.fotos_muestra{
    float: left;
    margin-left: 5%;
    height: 100%;
    width: 70%;
}
.fotos_muestra figure{
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 160px;
    margin-left: 2%;
}
.fotos_muestra figure:last-child{
    width: 10%;
}
.fotos_muestra figure img{
    width: 100%;
    border: 4px solid white;
    border-radius: 5px;
}
/*Footer*/
footer{
    border-top: 1px solid rgb(78, 78, 78);
    margin: 3% auto;
    padding-top: 30px;
    text-align: center;
    width: 75%;
}
footer strong{
    color: white;
}